extends index

block content

  header.about.text-center.text-white.d-flex.h-100
    .container-fluid.my-auto
      .row
        .col-lg-10.mx-auto
          h1.text-uppercase
            strong Sobre Nosotros
          hr
        .col-lg-8.mx-auto
          p.text-faded.mb-5
            | Somos una empresa que busca brindar un alto y eficiente nivel de entretenimiento a los usuarios por medio de nuestras paginas web
  footer
    .container-fluid.my-auto
      .row
        .col-sm-10.mx-auto
          p.text-faded.mb-3.mt-3
            | Esta pagina es propiedad de Estilo industries &copy;