extends layout

block content
   section.banner.innerpage-banner.contact-banner#inicio
     .container
       h1(data-aos='fade-up', data-aos-duration='1000') Personajes que van creando e impresionando
   section#my-port.about-page.contact-page.portfolio-page
     .container
       h2(data-aos='fade-up', data-aos-duration='1000') Artistas
       p.text-left(data-aos='fade-up', data-aos-duration='1000')
         | Los artistas interactivos están comprometidos en cambiar la relación entre los artistas y sus medios (entre sus obras y el público). En lugar de crear obras terminadas, el artista interactivo crea relaciones. El poder de esa expresión se multiplica por el hecho de que los interactores mismos se vuelven los referentes de las obras, nos ofrecen herramientas para construir identidades, nuestro sentido en relación con la obra artística.
       ul.row.tz-gallery
          each artista in artistas
            li.col-sm-6.col-md-4
              a.lightbox(href=artista.portafolio)
                .portfolio-gallery(data-aos='fade-up', data-aos-duration='1000')
                  figure
                    img(src=artista.foto, alt='one')
                  .overlay
                    span
                      h3.personal=artista.nombre
                      br
                      h3.personal=artista.profesion
        
    footer
     .layer
       .container
         nav.navbar.navbar-expand.p-0
           a.navbar-brand.mr-0.pr-2.pr-sm-4(href='/')
             h2.logo Multimedia-Box
           .nav-sec
             ul.ml-md-auto
               li.nav-item.active
                 a.nav-link.active.text-black(href='/')
                   | Home
               li.nav-item
                 a.nav-link(href='/blog')
                   | Blog
               li.nav-item
                 a.nav-link(href='/artistas')
                   | artistas
               li
                 p.m-0
                   | ©2019, Multimedia-Box todo los derechos reservados
    a(href='#inicio')               
     button.scrolltop-btn
       i.fa.fa-angle-up
   script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
   script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js')
   script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js')
   script(src='https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css')
   script(src='https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js')
   script(src='https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js')
   script(src='js/script.js')
