extends layout

block content
   section.banner.innerpage-banner.contact-banner#inicio
     .container
       h1(data-aos='fade-up', data-aos-duration='1000') EVENTOS, NOTICIAS Y PROYECTOS 
   section.blog-page
     .container
       h2(data-aos='fade-up', data-aos-duration='1000') ULTIMOS ARTICULOS
       ul.row
         li.col-md-6
           .overlay(data-aos='fade-up', data-aos-duration='1000')
             a(href='/blog')
               .blog-img
                 figure
                   img.img-fluid(src='images/img-1.jpg', alt='img-1')
                 .blog-img-inner
               h5
                 | INTRODUCCIÓN A LA PROGRAMACIÓN CREATIVA CON P5.JS
               p
                 | Crea tus propios proyectos artísticos e interactivos basaos en una introducción a la programación web, con especial énfasis en fundamentos JavaScript y la biblioteca p5.js.sound, con aplicaciones sonor. Este workshop no requiere conocimientos previos de programación, está diseñado para gente sin conocimientos previos sobre programación o arte sonoro. Si sabes de alguno de estos temas, podrás aprender rápidamente los fundamentos de p5.js y usar funciones más avanzadas.
             a(href='/blog') LEER MÁS
         li.col-md-6
           .overlay(data-aos='fade-up', data-aos-duration='1400')
             a(href='/blog')
               .blog-img
                 figure
                   img.img-fluid(src='images/img-2.jpg', alt='img-2')
                 .blog-img-inner
               h5
                 | MED HACK USFQ
               p
                 | Apliquen al MedHack! Un evento organizado por MIT que lo traemos a la USFQ, donde médicos, ingenieros, diseñadores, científicos y emprendedores se reunen por un fin de semana para encontrar soluciones a los mayores retos de salud en Ecuador.
             a(href='/blog') LEER MÁS
         li.col-md-6
           .overlay(data-aos='fade-up', data-aos-duration='1000')
             a(href='/blog')
               .blog-img
                 figure
                   img.img-fluid(src='images/img-1.jpg', alt='img-1')
                 .blog-img-inner
               h5
                 | HAUSMANN 8.0
               p
                 | Con motivo del Hausmann 8.0 y la presencia de Markus Heckman, tenemos el orgullo de ofrecer un taller sobre TouchDesigner, una plataforma y entorno visual que permite crear proyectos creativos
             a(href='/blog') LEER MÁS
         li.col-md-6
           .overlay(data-aos='fade-up', data-aos-duration='1400')
             a(href='/blog')
               .blog-img
                 figure
                   img.img-fluid(src='images/img-2.jpg', alt='img-2')
                 .blog-img-inner
               h5
                 | 5TA CAMPAÑA ANUAL DE RECICLAJE ELECTRONICO
               p
                 | Trae celulares, CPU, cables, cargadores antiguos, monitores, teclados, ups, tablets, laptops, infocus, mouses, chatarra (ferrosa o no ferrosa)y artículos electrónicos en general Universidad San Francisco de Quito
             a(href='/blog') LEER MÁS
         li.col-md-6
           .overlay(data-aos='fade-up', data-aos-duration='1000')
             a(href='/blog')
               .blog-img
                 figure
                   img.img-fluid(src='images/img-1.jpg', alt='img-1')
                 .blog-img-inner
               h5
                 | VERTICE 2018. DISEÑO PARA INNOVACION TERRITORIAL
               p
                 | Citizen Science es el encuentro entre muchas disciplinas que genera una forma única de hacer descubrimientos científicos, comunicar la ciencia a la comunidad y participar de su divulgación.
             a(href='/blog') LEER MÁS
         li.col-md-6
           .overlay(data-aos='fade-up', data-aos-duration='1400')
             a(href='/blog')
               .blog-img
                 figure
                   img.img-fluid(src='images/img-2.jpg', alt='img-2')
                 .blog-img-inner
               h5
                 | CODE SLANG
               p
                 | Aprende Code Slang con Sharon Lee de la Cruz! Tradicionalmente los lenguajes de programación de computadoras están diseñados para que el usuario pueda entender la computadora. Esto crea una brecha en la informática porque excluye a personas, que por diversas razones, han sido disuadidos estos lenguajes.
             a(href='/blog') LEER MÁS
    footer
     .layer
       .container
         nav.navbar.navbar-expand.p-0
           a.navbar-brand.mr-0.pr-2.pr-sm-4(href='/')
             h2.logo Multimedia-Box
           .nav-sec
             ul.ml-md-auto
               li.nav-item.active
                 a.nav-link.active.text-black(href='/')
                   | Home
               li.nav-item
                 a.nav-link(href='/blog')
                   | Blog
               li.nav-item
                 a.nav-link(href='/artistas')
                   | artistas
               li
                 p.m-0
                   | ©2019, Multimedia-Box todo los derechos reservados
    a(href='#inicio')               
     button.scrolltop-btn
       i.fa.fa-angle-up
     script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
     script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js')
     script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js')
     script(src='https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js')
     script(src='js/script.js')
