extends layout

block content
   section.banner.innerpage-banner.contact-banner#inicio
     .container
       h1(data-aos='fade-up', data-aos-duration='1000') EVENTOS, NOTICIAS Y PROYECTOS 
   section.blog-page
     .container
       h2(data-aos='fade-up', data-aos-duration='1000') ULTIMOS ARTICULOS
       ul.row
        each evento in eventos
         li.col-md-6
           .overlay(data-aos='fade-up', data-aos-duration='1000')
             .blog-img
               figure
                 img.img-fluid(src=evento.foto, alt='img-1')
               .blog-img-inner
             h5=evento.nombreevento
             h3=evento.fecha
             p=evento.descripcion
    footer
     .layer
       .container
         nav.navbar.navbar-expand.p-0
           a.navbar-brand.mr-0.pr-2.pr-sm-4(href='/')
             h2.logo Multimedia-Box
           .nav-sec
             ul.ml-md-auto
               li.nav-item.active
                 a.nav-link.active.text-black(href='/')
                   | Home
               li.nav-item
                 a.nav-link(href='/blog')
                   | Blog
               li.nav-item
                 a.nav-link(href='/artistas')
                   | artistas
               li
                 p.m-0
                   | ©2019, Multimedia-Box todo los derechos reservados
    a(href='#inicio')               
     button.scrolltop-btn
       i.fa.fa-angle-up
     script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
     script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js')
     script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js')
     script(src='https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js')
     script(src='js/script.js')
