extends layout

block content

  header.backgroundFavoritos.text-center.text-white.d-flex
    .container-fluid.my-auto
      .row
        .col-lg-10.mx-auto
          h1.text-uppercase
            strong Mira nuestro catálago completo
              h3.text-uppercase
                spam  
                a(href="../favoritos" style={color: 'white'})   Peliculas
                strong - 
                a(href="../favmusica" style={color: 'white'}) Musica 
                strong - 
                a(href="../favseries" style={color: 'white'}) Series   
                strong -               
                a(href="../favlibros" style={color: 'black'}) Libros 
                strong - 
                a(href="../favjuegos" style={color: 'white'}) Juegos    
          hr.fav
  br            
  .container
    .row
      .col-sm-12
        h3.text-uppercase
          i.fa.fa-book.Gold(aria-hidden='true')
          spam  
          strong Libros
  .container
    .row.pel
      each libro in libros
        .col-sm-3
          .card
            img(src=libro.imagen, alt='Avatar', style='width:100%')
            .container
              h4
              .txt-color
                i.fa.fa-film(aria-hidden='true')
                br
                b= libro.titulo 
    br

br 
br 
br 
