extends layout

block content

  header.masthead.text-center.text-white.d-flex
    .container-fluid.my-auto
      .row
        .col-lg-10.mx-auto
          h1.text-uppercase
            strong Recomendaciones Para cada dia
          hr
        .col-lg-8.mx-auto
          p.text-faded.mb-5
            | Nunca mas te vas a aburrir en tu vida
          a.btn.btn-primary.btn-xl.js-scroll-trigger(href='#about') RECOMENDACIONES!
  section#about.bg-primary
    .container
      .row
        .col-sm-12.centerLetter
          .txt-color
            h1.text-uppercase
              strong Recomendaciones 
              spam  
            hr
        .col-lg-8.mx-auto.centerLetter
          p.text-faded.mb-5
            |Esto es lo que tenemos para ti el dia de hoy
      .row
        each pelicula in peliculas
          .col-sm-4
            .card
              .container
                img.image(src=pelicula.imagen, alt='Avatar', style='width:100%')
                .middle
                  .text SINOPSIS:
                    p=pelicula.sinopsis
                .container
                  h4
                  .txt-color
                    i.fa.fa-film(aria-hidden='true')
                    br
                    b= pelicula.titulo 
              
                
