extends layout

block content
      section.banner#inicio
        .container(data-aos='fade-up', data-aos-duration='1000')
          h1 ¿Qué son los Medios Interactivos?
          h6 Conoce más sobre las posibilidades de combinar arte y programación
          p *imagen de fondo creada con Processing 5 
      section.index-about-sec#about
        .layer
          .container
            h5(data-aos='zoom-in', data-aos-duration='1000') ¿Qué son los Medios Interactivos?
            p(data-aos='zoom-in', data-aos-duration='1000')
              | Los medios Interactivos, son los recursos digitales que permiten a los usuarios interaccionar con otras personas o con el medio como tal, con el propósito de entretener, informar y educar; es la acción que se realiza mediante el Internet, con fines específicos como la comunicación entre beneficiarios, ciudadanos y servidores públicos. La palabra interactivo, hace referencia al método que un individuo puede utilizar para navegar y elegir contenidos que pueden ser un texto, gráficos, audios, videos e inclusive una combinación de ellos.
            ul.row
              li.col-sm-6.col-lg-3(data-aos='fade-up', data-aos-duration='1000')
                .index-abt-content
                  h3 DISEÑO WEB
                  p
                    | El Diseño web es aquella actividad consistente en planificar, diseñar, mantener y crear páginas web. 
              li.col-sm-6.col-lg-3(data-aos='fade-up', data-aos-duration='1200')
                .index-abt-content
                  h3 VIDEO Y ANIMACIÓN
                  p
                    | el vídeo es la tecnología de grabación, procesamiento, almacenamiento, transmisión de imágenes y reconstrucción de una secuencia de imágenes que representan escenas en movimiento. La animación está considerada como la técnica para dar vida a lo inanimado.
              li.col-sm-6.col-lg-3(data-aos='fade-up', data-aos-duration='1400')
                .index-abt-content
                  h3 GAME industry
                  p
                    | La industria de los videojuegos es el sector económico involucrado en el desarrollo , la comercialización y la monetización de los videojuegos . Abarca docenas de disciplinas laborales y sus componentes emplean a miles de personas en todo el mundo.
              li.col-sm-6.col-lg-3(data-aos='fade-up', data-aos-duration='1600')
                .index-abt-content
                  h3 DISEÑO GRÁFICO 
                  p
                    | El diseño gráfico es una especialidad o profesión, cuyo objetivo es satisfacer necesidades de comunicación visual. Se ocupa de organizar imagen y texto, producidos en general por medios industriales, para comunicar un mensaje específico
      footer
        .layer
          .container
            nav.navbar.navbar-expand.p-0
              a.navbar-brand.mr-0.pr-2.pr-sm-4(href='/')
                h2.logo Multimedia-Box
              .nav-sec
                ul.ml-md-auto
                  li.nav-item.active
                    a.nav-link.active.text-black(href='/')
                      | Home
                  li.nav-item
                    a.nav-link(href='/blog')
                      | Blog
                  li.nav-item
                    a.nav-link(href='/artistas')
                      | artistas
                  li
                    p.m-0
                      | ©2019, Multimedia-Box todo los derechos reservados
      a(href='#inicio')               
        button.scrolltop-btn
          i.fa.fa-angle-up
        
      script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
      script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js')
      script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js')
      script(src='https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.js')
      script(src='https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js')
      script(src='js/script.js')
      script.
        $(document).on('click', '[data-toggle="lightbox"]', function (event) {
        event.preventDefault();
        $(this).ekkoLightbox();
        });
